{% extends 'base.html' %}

{% block title %} about {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="/static/ab/2.jpg" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container mb-3 py-4">
    <h1 class="text-center">About Us</h1><br>
	<p>
	Shivu Ice Cream is a brand of amul Ice Creams Pvt Ltd.Established in 2020, the company now has made its presence in the list of top ice creams manufactures in Indore.
	Shivu Ice Creams are now available in the neighbouring states Bhopal and pune. Our Ice Creams is unique as their dairy product and the fruits used in the manufacturing comes from their own farms making it one of such companies.
	</p>
	<h1 class="text-center">Our Aim</h1><br>
	<p>Our Aim to providing customers with hyginic, affordable and convenient supply of our product.We're here to add a little extra sweetness to your day. The Shivu Ice Creams is a restaurent and new way to order your favorite ice cream brands right to your front door.Our vision to build a brand "Shivu Ice cream" to state and national level with ultra modern plant with a capacity of 2000lit.</p>

</div>
{% endblock body %}