{% extends 'base.html' %}

{% block title %} services {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="/static/ser/1.jpg" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container mb-3 py-4">
    <h1 class="text-center">Our Services</h1><br>
</div>

<div class="container my-3">
    
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src="/static/ser/2.jpg" width="10px" height="550px" class="d-block w-100" alt="...">
                
                <div class="card-body">
                  <p class="card-text"><strong>Home Delivery</strong> </p>
                  <p>Shivu Ice cream provide customers favorite desserts in front of their door. we provide these home delivery services in cities like indore and bhopal. With the help of this service you and your family enjoy their desserts infront of your home.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/ser/3.jpg" width="10px" height="550px" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text"><strong>Hygiene</strong></p>
                  <p>Hygiene is the most important term releted to cleanliness and good health to keep ourselves free from disease....TO maintain Hygiene our staff must keep their hand clean and cover their hairs. This will keep their hands free from dirt.</p>
                  <div class="d-flex justify-content-between align-items-center">
                
                    <small class="text-muted">6 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/8.jpg" width="10px" height="550px" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text"><strong>Flavours</strong></p>
                  <p>Ice Cream is one of the most popular desserts. We provide 6 different Ice Cream Flavours to our customers so that they can taste different kinds of Flavours.</p>
                  <div class="d-flex justify-content-between align-items-center">
                
                    <small class="text-muted">12 mins</small>
                  </div>
                  
                </div>
              </div>
            </div>
    
            
    
            
            
          </div>
        </div>

{% endblock body %}